In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

data1=pd.read_excel('')
data2=pd.read_excel('/content/drive/Shareddrives/쥰나쎄/데이터셋/2. 관광펜션업.xlsx')
data3=pd.read_excel('/content/drive/Shareddrives/쥰나쎄/데이터셋/3. 숙박업.xlsx')
data4=pd.read_excel('/content/drive/Shareddrives/쥰나쎄/데이터셋/4. 외국인관광도시민박업.xlsx')
data5=pd.read_excel('/content/drive/Shareddrives/쥰나쎄/데이터셋/5. 자동차야영장업.xlsx')
data6=pd.read_excel('/content/drive/Shareddrives/쥰나쎄/데이터셋/6. 한옥체험업.xlsx')
data7=pd.read_excel('/content/drive/Shareddrives/쥰나쎄/데이터셋/7. 일반야영장업.xlsx')

In [ ]:
Df1 = data1[['개방서비스명', '개방자치단체코드', '인허가일자', '영업상태구분코드', '폐업일자', '휴업시작일자', '사업장명', '좌표정보(X)', '좌표정보(Y)','소재지면적','영업상태명']]
Df2 = data2[['개방서비스명', '개방자치단체코드', '인허가일자', '영업상태구분코드', '폐업일자', '휴업시작일자', '사업장명', '좌표정보(X)', '좌표정보(Y)','소재지면적','영업상태명']]
Df3 = data3[['개방서비스명', '개방자치단체코드', '인허가일자', '영업상태구분코드', '폐업일자', '휴업시작일자', '사업장명', '좌표정보(X)', '좌표정보(Y)','소재지면적','영업상태명']]
Df4 = data4[['개방서비스명', '개방자치단체코드', '인허가일자', '영업상태구분코드', '폐업일자', '휴업시작일자', '사업장명', '좌표정보(X)', '좌표정보(Y)','소재지면적','영업상태명']]
Df5 = data5[['개방서비스명', '개방자치단체코드', '인허가일자', '영업상태구분코드', '폐업일자', '휴업시작일자', '사업장명', '좌표정보(X)', '좌표정보(Y)','소재지면적','영업상태명']]
Df6 = data6[['개방서비스명', '개방자치단체코드', '인허가일자', '영업상태구분코드', '폐업일자', '휴업시작일자', '사업장명', '좌표정보(X)', '좌표정보(Y)','소재지면적','영업상태명']]
Df7 = data7[['개방서비스명', '개방자치단체코드', '인허가일자', '영업상태구분코드', '폐업일자', '휴업시작일자', '사업장명', '좌표정보(X)', '좌표정보(Y)','소재지면적','영업상태명']]

In [ ]:
cd = pd.read_excel('/content/drive/Shareddrives/쥰나쎄/데이터셋/개방자치단체코드목록(참고).xlsx')
print(cd.info())
cd

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   번호           230 non-null    int64
 1   시도명          17 non-null     object
 2   시도(자치단체)코드   17 non-null     float64
 3   시군구명         229 non-null    object
 4   시군구(자치단체)코드  229 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 9.1+ KB
None

      번호      시도명  시도(자치단체)코드  시군구명  시군구(자치단체)코드
0      1    서울특별시   6110000.0   종로구    3000000.0
1      2      NaN         NaN    중구    3010000.0
2      3      NaN         NaN   용산구    3020000.0
3      4      NaN         NaN   성동구    3030000.0
4      5      NaN         NaN   광진구    3040000.0
..   ...      ...         ...   ...          ...
225  226      NaN         NaN   거창군    5470000.0
226  227      NaN         NaN   합천군    5480000.0
227  228      NaN         NaN   창원시    5670000.0
228  229  제주특별자치도   6500000.0   제주시    6510000.0
229  230      NaN         NaN  서귀포시    6520000.0

[230 rows x 5 columns]

In [ ]:
Df = Df1.append(Df2)
DDf = Df.append(Df3)
DDDf = DDf.append(Df4)
DDDDf = DDDf.append(Df5)
DDDDDf = DDDDf.append(Df6)
df = DDDDDf.append(Df7)

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df.drop('index',axis=1,inplace=True)

In [ ]:
df

       개방서비스명  개방자치단체코드     인허가일자  ...        좌표정보(Y)  소재지면적  영업상태명
0       관광숙박업   3000000  20201023  ...  452339.843126    NaN  영업/정상
1       관광숙박업   3000000  20180618  ...  452574.992954    NaN     폐업
2       관광숙박업   3000000  20191029  ...  452223.097221    NaN  영업/정상
3       관광숙박업   3000000  20191018  ...  452611.575937    NaN  영업/정상
4       관광숙박업   3000000  20191002  ...  452473.403750    NaN  영업/정상
...       ...       ...       ...  ...            ...    ...    ...
67005  일반야영장업   6520000  20200603  ...  -11127.015467    NaN  영업/정상
67006  일반야영장업   6520000  20150522  ...  -28313.642298    NaN  영업/정상
67007  일반야영장업   6520000  20160509  ...  -26932.445735    NaN  영업/정상
67008  일반야영장업   6520000  20150727  ...  -20459.431963    NaN  영업/정상
67009  일반야영장업   6520000  20160610  ...  -31335.071295    NaN     폐업

[67010 rows x 11 columns]

In [ ]:
cd[cd['시군구(자치단체)코드'].isna()]

    번호      시도명  시도(자치단체)코드 시군구명  시군구(자치단체)코드
74  75  세종특별자치시   5690000.0  NaN          NaN

In [ ]:
cd['시군구(자치단체)코드'].fillna({74:5690000.0}, inplace=True)
cd.loc[[74]]

    번호      시도명  시도(자치단체)코드 시군구명  시군구(자치단체)코드
74  75  세종특별자치시   5690000.0  NaN    5690000.0

In [ ]:
cd['개방자치단체코드'] = cd['시군구(자치단체)코드'].astype(int)
cd

      번호      시도명  시도(자치단체)코드  시군구명  시군구(자치단체)코드  개방자치단체코드
0      1    서울특별시   6110000.0   종로구    3000000.0   3000000
1      2      NaN         NaN    중구    3010000.0   3010000
2      3      NaN         NaN   용산구    3020000.0   3020000
3      4      NaN         NaN   성동구    3030000.0   3030000
4      5      NaN         NaN   광진구    3040000.0   3040000
..   ...      ...         ...   ...          ...       ...
225  226      NaN         NaN   거창군    5470000.0   5470000
226  227      NaN         NaN   합천군    5480000.0   5480000
227  228      NaN         NaN   창원시    5670000.0   5670000
228  229  제주특별자치도   6500000.0   제주시    6510000.0   6510000
229  230      NaN         NaN  서귀포시    6520000.0   6520000

[230 rows x 6 columns]

In [ ]:
cd = cd[['시도명','시군구명','개방자치단체코드']]
cd

         시도명  시군구명  개방자치단체코드
0      서울특별시   종로구   3000000
1        NaN    중구   3010000
2        NaN   용산구   3020000
3        NaN   성동구   3030000
4        NaN   광진구   3040000
..       ...   ...       ...
225      NaN   거창군   5470000
226      NaN   합천군   5480000
227      NaN   창원시   5670000
228  제주특별자치도   제주시   6510000
229      NaN  서귀포시   6520000

[230 rows x 3 columns]

In [ ]:
cd['시도명'].fillna(method = 'pad', inplace=True)
cd

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

         시도명  시군구명  개방자치단체코드
0      서울특별시   종로구   3000000
1      서울특별시    중구   3010000
2      서울특별시   용산구   3020000
3      서울특별시   성동구   3030000
4      서울특별시   광진구   3040000
..       ...   ...       ...
225     경상남도   거창군   5470000
226     경상남도   합천군   5480000
227     경상남도   창원시   5670000
228  제주특별자치도   제주시   6510000
229  제주특별자치도  서귀포시   6520000

[230 rows x 3 columns]

In [ ]:
df = df.astype({'개방자치단체코드':'int'})

In [ ]:
dfcd = pd.merge(left = cd,
                       right = df,
                       how = 'right',
                       left_on = '개방자치단체코드',
                       right_on = '개방자치단체코드')
dfcd

         시도명 시군구명  개방자치단체코드  ...        좌표정보(Y)     소재지면적  영업상태명
0      서울특별시  종로구   3000000  ...  452339.843126       nan  영업/정상
1      서울특별시  종로구   3000000  ...  452574.992954       nan     폐업
2      서울특별시  종로구   3000000  ...  452223.097221       nan  영업/정상
3      서울특별시  종로구   3000000  ...  452611.575937       nan  영업/정상
4      서울특별시  종로구   3000000  ...  452473.403750       nan  영업/정상
...      ...  ...       ...  ...            ...       ...    ...
67005   충청남도  계룡시   5580000  ...  308096.375000  1,567.97     폐업
67006   충청남도  계룡시   5580000  ...            NaN       .00     폐업
67007   충청남도  계룡시   5580000  ...  308227.488983       nan     폐업
67008   충청남도  계룡시   5580000  ...  308049.683343  1,999.00     폐업
67009   충청남도  계룡시   5580000  ...  308210.624473  1,464.40  영업/정상

[67010 rows x 13 columns]

In [ ]:
dfcd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67010 entries, 0 to 67009
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시도명       67010 non-null  object
 1   시군구명      66881 non-null  object
 2   개방자치단체코드  67010 non-null  int64
 3   개방서비스명    67010 non-null  object
 4   인허가일자     67010 non-null  object
 5   영업상태구분코드  67010 non-null  object
 6   폐업일자      67010 non-null  object
 7   휴업시작일자    67010 non-null  object
 8   사업장명      67010 non-null  object
 9   좌표정보(X)   62694 non-null  float64
 10  좌표정보(Y)   62694 non-null  float64
 11  소재지면적     67010 non-null  object
 12  영업상태명     67010 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 7.2+ MB

In [ ]:
dfcd.to_excel('geofinal.xlsx')